<div class="container">

  <div class="row-title">
    <h1>Invoice</h1>
    <h3>In Stock</h3>
  </div>

  <!-- Render rows and columns for stock items-->
  <div ng-repeat="stockItem in stockItems" ng-if="$index % 3 == 0" class="row">
    <div class="col-sm-4" ng-click="addItemToCart(stockItems[$index])">
      <div class="btn btn-info item-box">
        <h4>{{stockItems[$index].name}}</h4>

        <p>Qty: {{stockItems[$index].qty}}</p>
      </div>
    </div>
    <div class="col-sm-4" ng-if="stockItems[$index+1]" ng-click="addItemToCart(stockItems[$index])">
      <div class="btn btn-info item-box">
        <h4>{{stockItems[$index+1].name}}</h4>

        <p>Qty: {{stockItems[$index+1].qty}}</p>
      </div>
    </div>
    <div class="col-sm-4" ng-if="stockItems[$index+2]" ng-click="addItemToCart(stockItems[$index])">
      <div class="btn btn-info item-box">
        <h4>{{stockItems[$index+2].name}}</h4>

        <p>Qty: {{stockItems[$index+2].qty}}</p>
      </div>
    </div>
  </div>

  <div class="row-title">
    <h3>Receipt</h3>
  </div>

</div>
