<div class="container">

  <div class="row-title">
    <h1>Invoice</h1>
    <h3>In Stock</h3>
  </div>

  <!-- Render rows and columns for stock items track by name since id is not present in all items -->
  <div ng-repeat="stockItem in stockItems track by stockItem.name" ng-if="$index % 3 == 0" class="row">
    <div class="col-sm-4" ng-click="addItemToCart(stockItems[$index])">
      <div class="btn btn-info item-box">
        <h4>{{stockItems[$index].name}}</h4>

        <p>Qty: {{stockItems[$index].qty}}</p>
      </div>
    </div>
    <div class="col-sm-4" ng-if="stockItems[$index+1]" ng-click="addItemToCart(stockItems[$index+1])">
      <div class="btn btn-info item-box">
        <h4>{{stockItems[$index+1].name}}</h4>

        <p>Qty: {{stockItems[$index+1].qty}}</p>
      </div>
    </div>
    <div class="col-sm-4" ng-if="stockItems[$index+2]" ng-click="addItemToCart(stockItems[$index+2])">
      <div class="btn btn-info item-box">
        <h4>{{stockItems[$index+2].name}}</h4>

        <p>Qty: {{stockItems[$index+2].qty}}</p>
      </div>
    </div>
  </div>

  <div class="row-title">
    <h3>Receipt</h3>
  </div>

  <!-- Render table for shopping cart -->
  <table id="cart" class="table table-hover table-condensed">
    <thead>
    <tr>
      <th style="width:10%">ID</th>
      <th style="width:40%">Item</th>
      <th style="width:10%">Price</th>
      <th style="width:8%">Quantity</th>
      <th style="width:22%" class="text-center">Subtotal</th>
      <th style="width:10%"></th>
    </tr>
    </thead>
    <tbody>

    <!-- track by name since id is not present in all items -->
    <tr ng-repeat="cartItem in stockItems track by cartItem.name" ng-if="cartItem.cartQty">
      <td data-th="ID">{{cartItem.id}}</td>
      <td data-th="Item">{{cartItem.name}}</td>
      <td data-th="Price">{{cartItem.price | currency:'€'}}</td>
      <td data-th="Quantity">
        <!-- todo : format to euro -->
        <input type="number" class="form-control text-center" ng-model="cartItem.cartQty">
      </td>
      <td data-th="Subtotal" class="text-center">{{ calculateSubtotal(cartItem) | currency: '€' }}</td>
      <td class="actions" data-th="">
        <button class="btn btn-info btn-sm" ng-click="updateItemCartQuantity(cartItem, true)"><i class="fa fa-refresh"></i></button>
        <button class="btn btn-danger btn-sm" ng-click="updateItemCartQuantity(cartItem, false)"><i class="fa fa-trash-o"></i></button>
      </td>
    </tr>

    </tbody>
    <tfoot>
    <tr>
      <td colspan="4" class="hidden-xs"></td>
      <td class="hidden-xs text-center"><strong>Total {{calculateTotal() | currency : '€'}}</strong></td>
      <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
    </tr>
    </tfoot>
  </table>

</div>
